<?xml version="1.0"?>
<config>
    <modules>
        <Officience_News>
            <version>0.1.0</version>
        </Officience_News>
    </modules>
    <admin>
        <routers>
            <offinews>
                <use>admin</use>
                <args>
                    <module>Officience_News</module>
                    <frontName>offinews</frontName>
                </args>
            </offinews>
        </routers>
    </admin>
    <frontend>
        <routers>
            <offinews>
                <use>standard</use>
                <args>
                    <module>Officience_News</module>
                    <frontName>offinews</frontName>
                </args>
            </offinews>
        </routers>
        <layout>
            <updates>
                <offinews>
                    <file>officience_news.xml</file>
                </offinews>
            </updates>
        </layout>
        <translate>
            <modules>
                <Officience_News>
                    <files>
                        <Officience_News>Officience_News.csv</Officience_News>
                    </files>
                </Officience_News>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Officience_News>
                    <files>
                        <default>Officience_News.csv</default>
                    </files>
                </Officience_News>
            </modules>
        </translate>

        <menu>
            <offinews module="offinews">
                <title>News</title>
                <sort_order>80</sort_order>
                <children>
                    <add translate="title" module="offinews">
                        <title>New post</title>
                        <sort_order>0</sort_order>
                        <action>offinews/adminhtml_news/new</action>
                    </add>
                    <items translate="title" module="offinews">
                        <title>Management news</title>
                        <sort_order>10</sort_order>
                        <action>offinews/adminhtml_news/index</action>
                    </items>
                    <category module="offinews">
                        <title>Categories</title>
                        <sort_order>20</sort_order>
                        <action>offinews/adminhtml_category/</action>
                    </category>
                    <comments module="offinews">
                        <title>Comments</title>
                        <sort_order>30</sort_order>
                        <action>offinews/adminhtml_comment/</action>
                    </comments>
                    <settings translate="title" module="offinews">
                        <title>Settings</title>
                        <sort_order>40</sort_order>
                        <action>adminhtml/system_config/edit/section/offinews</action>
                    </settings>
                </children>
            </offinews>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <offinews>
                            <title>News</title>
                            <sort_order>50</sort_order>
                            <children>
                                <items translate="title">
                                    <title>News</title>
                                    <sort_order>10</sort_order>
                                </items>
                                <category translate="title">
                                    <title>Categories</title>
                                    <sort_order>20</sort_order>
                                </category>
                                <comments translate="title">
                                    <title>Comments</title>
                                    <sort_order>30</sort_order>
                                </comments>
                            </children>
                        </offinews>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <offinews>
                                            <title>News Section</title>
                                        </offinews>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <offinews>
                    <file>officience_news.xml</file>
                </offinews>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <offinews>
                        <type>singleton</type>
                        <class>offinews/check</class>
                        <method>checkExtensions</method>
                    </offinews>
                </observers>
            </controller_action_predispatch>
            <admin_system_config_changed_section_offinews>
                <observers>
                    <admin_system_config_changed_section_offinews>
                        <class>offinews/check</class>
                        <method>checkConfiguration</method>
                    </admin_system_config_changed_section_offinews>
                </observers>
            </admin_system_config_changed_section_offinews>
        </events>
    </adminhtml>
    <global>
        <models>
            <offinews>
                <class>Officience_News_Model</class>
                <resourceModel>offinews_mysql4</resourceModel>
            </offinews>
            <offinews_mysql4>
                <class>Officience_News_Model_Mysql4</class>
                <entities>
                    <news>
                        <table>officience_news</table>
                    </news>
                    <comment>
                        <table>officience_comment</table>
                    </comment>
                    <category>
                        <table>officience_category</table>
                    </category>
                    <newsCategory>
                        <table>officience_news_category</table>
                    </newsCategory>
                    <newsStore>
                        <table>officience_news_store</table>
                    </newsStore>
                    <categoryStore>
                        <table>officience_category_store</table>
                    </categoryStore>
                </entities>
            </offinews_mysql4>
        </models>
        <resources>
            <offinews_setup>
                <setup>
                    <module>Officience_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </offinews_setup>
            <offinews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </offinews_write>
            <offinews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </offinews_read>
        </resources>
        <blocks>
            <offinews>
                <class>Officience_News_Block</class>
            </offinews>
        </blocks>
        <helpers>
            <offinews>
                <class>Officience_News_Helper</class>
            </offinews>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <offinews>
                        <type>singleton</type>
                        <class>Officience_News_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </offinews>
                </observers>
            </controller_front_init_routers>
        </events>
        <rewrite>
            <offinews_category_view>
                <complete />
                <from>#^/offinews/category/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/offinews/index/index/category/$1</to>
            </offinews_category_view>
            <offinews_newsitem_view>
                <complete />
                <from>#^/offinews/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/offinews/newsitem/view/key/$1</to>
            </offinews_newsitem_view>
            <offinews_newsitem_category_view>
                <complete />
                <from>#^/offinews/([A-Za-z0-9\-\_]+)/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/offinews/newsitem/view/category/$1/key/$2</to>
            </offinews_newsitem_category_view>
        </rewrite>
        <template>
            <email>
                <offinews_comments_email_template translate="label" module="offinews">
                    <label>New Comment</label>
                    <file>offinews/new_comment.html</file>
                    <type>text</type>
                </offinews_comments_email_template>
            </email>
        </template>
    </global>
    <default>
        <offinews>
            <urloption>
                <urlnews>1</urlnews>
            </urloption>
            <news>
                <title>News</title>
                <route>news</route>
                <showbreadcrumbs>1</showbreadcrumbs>
                <itemsperpage>10</itemsperpage>
                <itemurlsuffix>.html</itemurlsuffix>
                <enablelinkrout>1</enablelinkrout>
                <linkrout>View More</linkrout>
                <showdateofnews>1</showdateofnews>
                <showtimeofnews>0</showtimeofnews>
                <tags>0</tags>
                <printable>1</printable>
                <parentcategory>1</parentcategory>
            </news>
            <comments>
                <enabled>1</enabled>
                <commentsperpage>10</commentsperpage>
            </comments>
            <rss>
                <enable>0</enable>
                <posts>10</posts>
            </rss>
        </offinews>
    </default>
</config>
